# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{**.bash,**.sh,**.zsh,**/bin/*}]
indent_style = space
indent_size = 2
# shfmt options
binary_next_line = false
switch_case_indent = true
space_redirects = false
function_next_line = false

[*.fish]
indent_style = space
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab
indent_size = 4

[*.{css,html,js,rb,ts}]
indent_style = space
indent_size = 2

[*.{cs,nu,py,rs}]
indent_style = space
indent_size = 4

[*.{md,markdown}]
trim_trailing_whitespace = false

#
# Area overrides
#

[**/karabiner/**/*.json]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
