# os files
.DS_Store

# editors
.vscode

# log files
*.*log

# ignore these directories
/local*
/*-local
/tmp*

# anything else local or secrets
**/secrets

# github cli
**/gh/*
!**/gh/config.yml

# karabiner
**/karabiner/.config/karabiner
!karabiner.json

# hammerspoon
**/hammerspoon/Spoons/*

# vim
**/nvim/pack
.netrwhist

# zsh
.zsh/functions/*
!.zsh/functions/async
!.zsh/functions/prompt_pure_setup

# direnv
.envrc

# keep these files
!/**/.gitkeep
