# os files
.DS_Store

# editors
.vscode

# log files
*.*log

# direnv
.envrc

# ignore these directories
/local*
/*-local
/tmp*
**/secrets

# github cli
**/gh/*
!**/gh/config.yml

# hammerspoon
**/hammerspoon/Spoons/*

# karabiner
**/karabiner/.config/karabiner
!karabiner.json

# iterm2
**/iterm2/**/AppSupport

# vim
**/nvim/pack
.netrwhist

# zsh
.zsh/functions/*
!.zsh/functions/async
!.zsh/functions/prompt_pure_setup

# keep these files
!/**/.gitkeep
