# os files
.DS_Store

# editors
.vscode
.zed

# log files
*.*log

# direnv
.envrc

# github cli
**/gh/.config/gh/*
!**/gh/.config/gh/config.yml

# hammerspoon
**/hammerspoon/Spoons/*

# karabiner
**/karabiner/.config/karabiner
!karabiner.json

# iterm2
**/iterm2/**/AppSupport

# vim / neovim
.netrwhist
lazy*.json
*.local.lua

# zsh
.zsh/site-functions/*
.zsh_history

# nix builds
result
result/

# modules file
modules.txt

# deno
deno.lock

# mise
mise.local.toml

# ignore these directories
local/
local*
local-*/
*-local/
**/tmp*
*/local
*/local-*
**/secrets

# keep these files
!/**/.gitkeep
