# === install first ===
_stow
_core

# === common packages ===
bash
bat
direnv
docker
fzf
git
gh
gpg
pkgx
ripgrep
ssh
starship
tmux
utility
vim
xdg
zoxide
zsh

# == os specific ===
# macos
# hammerspoon
# homebrew
# karabiner
# iterm2

# === package managers ===
# maven

# === version managers ===
# devenv
# mise
# nix

# === databases ====
# mysql
# oracle
# postgres

# === languages ===
# deno
# go
# nodejs
# python
# ruby
# rust

# === frameworks ===
# rails

# === tools ===
# ansible
# aws
# colima
# helm
# home-manager
# kubectl
# nvim
# op
# redis
# terraform

#
# === local ===
#
# Add local git ignored packages to the end of this file
